<h1>Dashboard</h1>
<div class="lecture-dashboard-container">
    <div class="preview">
        <div class="tabbar">
            <button class="btn" *ngIf="!tableView" (click)="toggleTableView()">Toggle Table View</button>
            <button class="btn" *ngIf="!tableView" (click)="submitLecturePrompt()">Save Changes</button>
            <button class="btn" *ngIf="tableView" (click)="toggleTableView()">
                Preview</button>
        </div>
        <div class="view">
            <div *ngIf="tableView">
                <table class="tb">
                    <tr>
                        <th>LectureID</th>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Link</th>
                        <th>Slide</th>
                        <th>Comment</th>
                        <th></th>
                    </tr>
                    <tr *ngIf="lectureData">
                        <td>{{lectureData.length}}</td>
                        <td><textarea type="text" id="Title" [formControl]="title"></textarea></td>
                        <td>Automatically dated</td>
                        <td><textarea type="text" id="Link" [formControl]="link"></textarea></td>
                        <td><textarea type="text" id="Slide" [formControl]="slide"></textarea></td>
                        <td><textarea type="text" id="Comment" [formControl]="comment"></textarea>
                        </td>
                        <th><button class="btn" (click)="submitLecturePrompt()">Submit</button>
                        </th>
                    </tr>
                    <tr *ngFor="let lecture of lectureData.reverse(), let i = index">
                        <td>{{lectureData.length-i-1}}</td>
                        <td>{{lecture.Title}}</td>
                        <td>{{lecture.Date}}</td>
                        <td>{{lecture.Link}}</td>
                        <td>{{lecture.Slides}}</td>
                        <td>{{lecture.Comment}}</td>
                        <th><button class="btn" (click)="deleteLecturePrompt(i)">Delete</button></th>
                    </tr>
                </table>
            </div>
            <div class="lecturePreview" *ngIf=" lectureData && !tableView">
                <app-lectures class="lecturePreview" lectureData="{{lectureStringify}}"> </app-lectures>
            </div>
        </div>
    </div>
</div>