<h1 class="title">Staff Profile Dashboard</h1>
<div class="profile-dashboard-container">
    <div class="form">
        <form id="Form">
            <label>Name:</label><br>
            <input type="text" #name><br>
            <label>Bio:</label><br>
            <input type="text" #bio><br>
            <label>Technical Areas:</label><br>
            <input type="text" #technical_areas><br>
            <label>Languages:</label><br>
            <input type="text" #languages><br>
            <label>Picture:</label><br>
            <input type="file" #picture><br>
            <button type='button'
                (click)="setProfile(name.value, bio.value, technical_areas.value, languages.value, picture.value)">Preview</button>
            <input type='reset' value="Submit" (click)="submitProfile()">
        </form>
    </div>
    <div class="preview">
        <div *ngIf="profile && profile.name">
            <div class="cards">
                <app-person name="{{ profile.name }}" bio="{{ profile.bio }}" picture="{{ profile.picture }}"
                    technical_area="{{ profile.technical_areas }}" language="{{ profile.languages }}" class="people"></app-person>
            </div>
        </div>
        <div *ngIf="isSubmit && !profile">
            <h3>Sent {{isSubmit}} to database!</h3>
        </div>
    </div>
</div>