.container {
    margin-top: 3vh;
    width: 75vw;
    height: 88vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
    overflow: auto;
}

#burger {
    padding-top:5%;  
    padding-left:1%; 
}

#button {
    
}

.sidenav-content {
    height: 5vh;
    width: 20vw;
}

.sidenav {
    padding: 3%;
}