:host {
  flex-grow: 1;
}

.groupmaker {
  margin: 5%;
  padding: 0;
}

.title {
  font-size: 3.5vw;
}

.gm-label {
  margin-bottom: 0px;
  margin-top: 6px;
  line-height: 1.2;
}

@media (max-width: 559px) {
  .title {
    font-size: 10vw;
    margin-top: 10%;
  }
  .link {
    color: black;
    margin-left: 5%;
  }
}

@media only screen and (min-width: 559px) {
  nav {
    display: none;
  }
}
