<header>
  <div class="title">
    <h1 *ngIf="user != null">Grades</h1>
  </div>
</header>

<h1 style="margin-top: 10%; margin-left: 3%" *ngIf="!user">
  Please sign in with your Google Illinois account to access your grades.
</h1>
<h5 style="margin-left: 3%" *ngIf="!isIllini && user" class="msg">
  It seems that you are not using your Illinois account. Please use your
  Illinois Google Account.
</h5>
<div *ngIf="user && isIllini" class="Attendance">
  <h5 *ngIf="!grades">Loading the grades...</h5>
  <table class="content-table">
    <tr>
      <th>Weekly Grades</th>
      <th>Grades</th>
    </tr>
    <tr *ngFor="let grade of weekly">
      <td>{{ grade[0] }}</td>
      <td>{{ grade[1] }}</td>
    </tr>
  </table>
  <br />
  <table class="content-table">
    <tr>
      <th>Homework Grades</th>
      <th>Grades</th>
    </tr>
    <tr *ngFor="let grade of hwGrades">
      <td>{{ grade[0] }}</td>
      <td>{{ grade[1] }}</td>
    </tr>
  </table>
  <br />
  <table class="content-table">
    <tr>
      <th>Project Grades</th>
      <th>Grades</th>
    </tr>
    <tr *ngFor="let grade of projectGrades">
      <td>{{ grade[0] }}</td>
      <td>{{ grade[1] }}</td>
    </tr>
  </table>

  <h5 *ngIf="grades && isIllini" class="msg">
    If you think there is a mistake with your grade, please contact Jonah
    Tjandra (jonahlt2).
  </h5>
</div>