<div class="hof-page-container">
    <img class="hof-plaque" src="assets/plaque.svg">
    <p>This is where we immortalize the best student projects! Create awesome projects in this course, and this could be you this semester!</p>
    <div class="hof-card-container">
        <img class="img-container" src="assets/logo.png">
        <mat-card class="hof-card" fullwidth>
            <mat-card-title>
                #1: Dermeyetology
            </mat-card-title>
            <mat-card-subtitle>
                Jonah, Francis, Allen, 
            </mat-card-subtitle>
            <mat-card-content>
                jsdbfjbsijdfnosndokfnoksndofn
            </mat-card-content>
            <mat-card-actions>
                <button class="hof-button">Check us out on Github!</button>
                <button class="hof-button">Check us out on YouTube!</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>


